/*Global css styling*/

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
}

:root {
    --yellow: #ffcc00;
    --black: #121212;
    --white: #efeff4;
    --gray: #5D5D5D;
}

textarea:focus {
    outline: none;
    overflow: auto;
    resize: none;
}

html {
    overflow: hidden;
    font-size: 1em;
}

body {
    background-color: white;
    font-family: 'Helvetica Neue', serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--white);
}

p {
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
    color: var(--yellow);
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 6.063em;
}

h2 {
    font-size: 3.375em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.5em;
}

small,
.font_small {
    font-size: 0.667em;
}

/*Main container*/

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sub-container {
    width: 95vw;
    height: 90vh;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
}

/*Navigation*/

.navbutton {
    width: 38.125vw;
    height: auto;
}

header {
    position: absolute;
    z-index: 5;
    left: 38vw;
    padding-top: 3.5vw;
}

a {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--yellow);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dropdown-content a {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--black)
}

nav {
    display: flex;
    width: 25vw;
    justify-content: space-around;
}


.star {
    width: 1.2em;
    padding-left: 16px;
    padding-right: 16px;
    height: 1.2em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efeff4;
    padding: 32px;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a:hover {
    background-color: var(--yellow);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Index styling*/

.index {
    background: var(--black) !important;
}

.scrambledtitle {
    cursor: pointer;
    background-color: var(--yellow);
    position: absolute;
    z-index: 10;
    color: var(--white);
    top: 45%;
    font-size: 6em;
    text-decoration: underline;
    text-decoration-color: var(--white)
}

/*           Cipher Pages          */

/*Left Container*/

.left-sub-container {
    padding-left: 3.125vw;
    width: 50%;
    padding-top: 8vh;
}

.keyword-textarea {
    width: 43.75vw;
    overflow: auto;
    border: none;
    border-bottom: 3px solid var(--yellow);
    background-color: var(--black);
    resize: none;
    color: var(--white);
    font-size: 5.5vh;
}

.title-div {
    width: 45vw;
}

.title-h1 {
    position: relative;
    z-index: 3;
    padding-top: 7.5vh;
    text-align: center;
    font-weight: 600
}

.color-block-div {
    height: 4vh;
    width: 40vw;
    position: absolute;
    top: 47%;
    left: 0;
    background-color: var(--white);
}

.add-text-h2 {
    font-weight: 500;
    margin-top: 1.2em;
    margin-bottom: .2em;
}

.input_area {
    display: flex;
    justify-content: space-between;
    width: 44vw;
    height: 20vh;
}

.input-textarea {
    font-size: 14px;
    width: 45%;
    height: 100%;
    overflow: auto;
    border: none;
    resize: none;
    color: var(--white);
    background-color: var(--black);
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    padding: 8px;
}

.output {
    padding: 8px;
    width: 45%;
    height: 100%;
    overflow: auto;
    border: none;
    resize: none;
    background-color: var(--black);
    text-decoration: underline;
    text-decoration-color: var(--white);
    color: var(--yellow);
}






/*Right Container*/

.right-sub-container {
    padding-right: 8.33vw;
    width: 50%;
    padding-top: 13vh;
}

.how-works-h4 {
    font-weight: 500;
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    padding-left: 10vw;
}

.description-container {
    width: 50vw;
    display: flex;
}

.description-div {
    padding-top: 10vh;
    width: 50%;
}

.tabula-recta {
    width: 50%;
    height: 50%;
}

. .deciphered-small {
    transform: rotate(90deg);
    position: absolute;
    left: 48vw;
    top: 75vh;
}

.buttons {}

.encrypt-button {}

.decrypt-button {}

/*T9 styling*/

.t9 .title-h1 {
    padding-top: 0;
}

.t9 .color-block-div {
    top: 21%;
    width: 50vw;
}

.t9 .add-text-h2 {
    margin-top: 0;
}

.t9 .right-sub-container {
    padding: 0;
}

.t9-svg {
    padding-left: 10vw;
    padding-top: 20vh;
    width: 20vw;
}

.how-works-h2 {
    font-weight: 500;
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: currentcolor;
    text-decoration-color: var(--yellow);
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 42%;
    margin: 0;
}

.t9 .description-div {
    padding-top: 3vh;
    width: 35vw;
    padding-left: 10vw;
}

.t9 .input-textarea {
    font-size: 24px;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
    resize: none;
    color: var(--white);
    background-color: var(--black);
    text-decoration: underline;
    text-decoration-color: currentcolor;
    text-decoration-color: var(--white);
    padding: 0;
}

#output-t9 {
    font-size: 34px;
    font-size: 34px;
}

.t9 .input_area {
    border: 2px solid var(--yellow);
}

.t9 .buttons {
    width: 20vw;
    padding-left: 10vw;
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}

.encrypt-button {
    padding: 17.5px 40px;
    border: 4px solid var(--yellow);
    background: var(--yellow);
    border-radius: 60px;
}

.encrypt-button:hover {
    cursor: pointer;
    background: transparent;
    color: var(--yellow);
}

.decrypt-button {
    padding: 17.5px 40px;
    border: 4px solid var(--yellow);
    border-radius: 60px;
    color: var(--yellow);
    background: transparent;
}

.decrypt-button:hover {
    cursor: pointer;
    background: var(--yellow);
    color: var(--black);
}

/*Homophonic styling*/

.homo .description-div {
    width: 35vw;
}

.homo .title-div {}

.homo .color-block-div {
    bottom: 25vh;
    width: 46.6vw;
    top: unset;
}

.homo .title-h1 {
    position: absolute;
    z-index: 3;
    padding-top: 7.5vh;
    text-align: center;
    font-weight: 600;
    bottom: 17vh;
}

.homo .input_area {
    top: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.homo #message {
    overflow: auto;
    border: none;
    border-bottom: 3px solid var(--yellow);
    background-color: var(--black);
    resize: none;
    color: var(--white);
    font-size: 32px;
    text-align: center;
}

.homo .image {
    width: 44vw;
}

.homo .buttons {
    position: absolute;
    bottom: 25vh;
    width: 25vw;
    left: 60vw;
}

.homo .buttons-div {
    display: flex;
    justify-content: space-between;
}

/*Design Document styling*/

html.design {
    overflow: visible;
}

.design .main-container {
    width: auto;
    height: 100%;
}

.design .main-sub-container {
    width: 95%;
    height: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-direction: column;
}

.design .title-div {
    width: 100%;
}

.design .color-block-div {
    height: 3.7vh;
    width: 100vw;
    top: 20.5%;

}

.design-div {
    display: flex;
    width: 100%;
    padding-bottom: 5vh;
}

.typography h1,
h2,
h3,
h4,
p {
    margin: 0;
    margin-bottom: 5px;
}

.design-title {
    width: 50%;
    color: var(--white);
    padding-left: 3.15vw;
}

.left-div {
    width: 50%;
    padding-left: 4.15vw;
}

.right-div {
    padding-right: 4.15vw;
    width: 50%;
}

.color {
    flex-direction: column;
}

.color-div {
    width: 100px;
    border: 10px solid;
    height: 100px;
}

.colors-div {
    padding-top: 4vh;
    align-self: center;
    justify-content: space-around;
    width: 80%;
    display: flex;
}

.yellow {
    background: var(--yellow);
    border-color: var(--white);
}

.black {
    background: var(--black);
    border-color: var(--yellow);
}

.white {
    background: var(--white);
    border-color: var(--gray);
}

.gray {
    background: var(--gray);
    border-color: var(--white);
}

.graph-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.design-subdiv {
    padding-bottom: 10vh;
    padding-left: 5vw;
}

.buttons-div {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.design-buttons {
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.graph-elem .color-block-div {
    position: static;
    width: 50%;
}

.nav {
    width: 100%;
    justify-content: center;
    display: flex;
}

.nav-div {
    flex-direction: row;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.dropdown-contents {
    width: 200px;
    display: block;
    background-color: #efeff4;
    padding: 32px;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.classes {
    width: 50%;
}
